<?xml version="1.0"?>

<model>
  <name>magni</name>
  <version>1.0</version>
  <sdf version="1.9">magni.sdf</sdf>

  <author>
    <name>John V</name>
    <email>john@soundelve.com</email>
  </author>


  <description>
    Simple Version of Magni Silver Robot by Ubiquity Robotics.
    Based off https://github.com/UbiquityRobotics/magni_robot
  </description>
</model>
