<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="kuka_kr6_ros2_control" params="name initial_positions_file">
    <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>ign_ros2_control/IgnitionSystem</plugin>
      </hardware>
      <joint name="joint_a1">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint_a1']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="joint_a2">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint_a2']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="joint_a3">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint_a3']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="joint_a4">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint_a4']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="joint_a5">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint_a5']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="joint_a6">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint_a6']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>

    <gazebo>
      <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(find kr6_moveit)/config/ros2_controllers.yaml</parameters>
      </plugin>
    </gazebo>

  </xacro:macro>
</robot>
