<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <link name="realsense_d435">
    <origin xyz="0.2 0 0.2" rpy="0 0 0" />
    <collision name="collision">
      <geometry>
        <mesh filename="file://$(find start_creating_robots)/worlds_and_models/krytn/meshes/realsense.dae" />
      </geometry>
    </collision>
    <visual name= "visual">
      <geometry>
        <mesh filename="file://$(find start_creating_robots)/worlds_and_models/krytn/meshes/realsense.dae">
          <submesh>
            <name>RealSense</name>
            <center>false</center>
          </submesh>
        </mesh>
      </geometry>
    </visual>
  </link>

  <joint name="depth_camera_joint" type="fixed">
    <parent link="base_footprint" />
    <child link="realsense_d435" />
    <origin rpy="0 0 0" xyz="0 0 0.6"/>
  </joint>

  <gazebo reference="realsense_d435">

    <sensor name="realsense_d435" type="rgbd_camera">
      <topic>realsense</topic>
      <ignition_frame_id>realsense_d435</ignition_frame_id>
      <update_rate>5</update_rate>
      <camera name="camera">
        <horizontal_fov>0.5</horizontal_fov>
        <lens>
          <intrinsics>
            <!-- fx = fy = width / ( 2 * tan (hfov / 2 ) ) -->
            <fx>554.25469</fx>
            <fy>554.25469</fy>
            <!-- cx = ( width + 1 ) / 2 -->
            <cx>320.5</cx>
            <!-- cy = ( height + 1 ) / 2 -->
            <cy>240.5</cy>
            <s>0</s>
          </intrinsics>
        </lens>
        <distortion>
          <k1>0.0</k1>
          <k2>0.0</k2>
          <k3>0.0</k3>
          <p1>0.0</p1>
          <p2>0.0</p2>
          <center>0.5 0.5</center>
        </distortion>
        <image>
          <width>160</width>
          <height>120</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.01</near>
          <far>10</far>
        </clip>
        <depth_camera>
          <clip>
            <near>0.1</near>
            <far>10</far>
          </clip>
        </depth_camera>
        <noise>
          <type>gaussian</type>
          <mean>0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
    </sensor>
  </gazebo>

</robot>