<?xml version="1.0"?>

<model>
  <name>Falling Rocks 1</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Addisu Taddese</name>
    <email>addisu@openrobotics.org</email>
  </author>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
  </description>
</model>
