<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lidar_3d_v1">

  <link name="lidar_3d_v1">
    <xacro:cylinder_inertial_with_origin radius="0.02" length="0.35" mass="0.83">
      <origin xyz="0 0 0.03" rpy="0 0 0" />
    </xacro:cylinder_inertial_with_origin>

    <collision name="collision">
      <geometry>
        <cylinder radius="0.0516" length="0.0717" />
      </geometry>
    </collision>
    <visual name="visual">
      <geometry>
        <mesh filename="file://$(find haul_truck)/worlds_and_models/haul_truck/meshes/lidar_3d_v1.dae" />
      </geometry>
    </visual>
  </link>

  <joint name="lidar_joint" type="fixed">
    <parent link="chassis_link" />
    <child link="lidar_3d_v1" />
    <!--    <origin rpy="0 0 0" xyz="0 0.8 5.6"/> -->
    <origin xyz="0.0 0.8 8.0" rpy="0.0 -0.0 -1.57"/>

  </joint>


  <gazebo reference="lidar_3d_v1">
    <sensor name="lidar_3d_v1" type="gpu_ray">
      <topic>lidar</topic>
      <ignition_frame_id>lidar_3d_v1</ignition_frame_id>
      <pose>0 0 0.0525045525 0 0 0</pose>
      <ray>
        <scan>
          <horizontal>
            <samples>60</samples>
            <resolution>1</resolution>
            <min_angle>-3.14</min_angle>
            <max_angle>3.14</max_angle>
          </horizontal>
          <!-- Removing vertical to make slam easier. 
          <vertical>
            <samples>4</samples>
            <resolution>1</resolution>
            <min_angle>-0.52</min_angle>
            <max_angle>0</max_angle>
          </vertical>
          -->
        </scan>
        <range>
          <min>0.060</min>
          <max>100</max>
          <resolution>0.1</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.001</stddev>
        </noise>
      </ray>
      <always_on>0</always_on>
      <update_rate>10</update_rate>
      <visualize>true</visualize>
    </sensor>

  </gazebo>

</robot>
